<h1>Rails Postgres Vue Buefy with Devise and 3+ many to many</h1>

<br/>
<p>This app uses Vue Componenets that are embedded in rails views. The CSS Front end framework is Buefy with minimal styling conventions for easy development and less time deleting stuff that never gets used or ends up rewritten.</p>
